// primary colours
$primary-color-a: #01245B;
$primary-color-a-hover: #08285c;
$primary-color-b: #F4F3F8;
$primary-grey: #F6F6F9;
$primary-white: #ffffff;
$text-color-a: #01245B;
$text-color-b: #132A4A;
$text-color-c: #ffffff;
$text-color-d: #292929;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$error-red: #AF272F;

// svg
$logo: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='36' height='36'%3E%3Ccircle cx='18' cy='18' r='18' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Crect width='36' height='36' fill='white'/%3E%3Cpath d='M0.119995 22.29L36.0299 16.47V0H0.119995V22.29Z' fill='%23FED154'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.4046 20.9C20.9671 20.9 20.7455 20.0163 20.7455 19.4989V19.4559H23.1508C23.1508 19.6283 23.2263 19.8869 23.7883 19.8869C24.264 19.8869 24.4045 19.7522 24.4045 19.6067V19.5906C24.4045 19.4559 24.3505 19.332 23.6587 19.3049L22.8102 19.2781C21.1564 19.2187 20.8104 18.6368 20.8104 18.0064V17.9578C20.8104 17.2034 21.4158 16.74 23.3615 16.74H24.0478C26.2043 16.74 26.7068 17.3112 26.7068 18.001V18.0278H24.3505C24.3343 17.8984 24.2693 17.7046 23.7342 17.7046C23.2425 17.7046 23.1508 17.7801 23.1508 17.9148V17.9255C23.1508 18.071 23.3075 18.152 23.929 18.1679L24.7396 18.1895C26.3069 18.2327 26.8582 18.61 26.8582 19.4234V19.4989C26.8582 20.2102 26.3986 20.9 24.1126 20.9H23.4046ZM7.02945 16.8423L5.98963 19.2826L4.89055 16.8423H2.57996L4.47746 20.7977H7.38871L9.14164 16.8423H7.02945ZM9.24525 16.8423V20.7977H14.0802V19.6811H11.2524V19.341H14.0265V18.2564H11.2524V17.9482H14.0587V16.8423H9.24525ZM18.4494 18.1714C18.4494 18.315 18.3576 18.4214 18.0769 18.4214H16.5813V17.9215H18.0769C18.3524 17.9215 18.4494 18.0227 18.4494 18.1714ZM14.5292 20.7977H16.5813V19.5323H17.7259C18.3036 19.5323 18.5035 19.7928 18.5035 20.1969V20.6754C18.5035 20.7338 18.5035 20.771 18.5304 20.7977H20.6419V20.7659C20.5986 20.686 20.5717 20.5956 20.5717 20.399V19.7982C20.5717 19.2826 20.2639 18.9264 19.6214 18.8041C19.9886 18.7296 20.5501 18.4799 20.5501 17.8896V17.8418C20.5501 17.055 19.832 16.8423 18.9679 16.8423H14.5292V20.7977ZM29.4382 19.1548L29.917 18.0598L30.4068 19.1548H29.4382ZM28.927 20.3245H30.9286L31.1384 20.7977H33.4199L31.4129 16.8423H28.5396L26.6511 20.7977H28.7174L28.927 20.3245Z' fill='%2301245B'/%3E%3C/g%3E%3C/svg%3E%0A");


// toggle
$chatbot-toggle-color: $primary-color-a;
$chatbot-toggle-icon-color: $primary-white;

// header
$header-color: $primary-white;
$header-text-color: $text-color-a;
$header-subtitle-color: $text-color-a;
$header-buttons-color: $primary-color-a;

// message container 
$message-container-background-color: $primary-color-b;

// messages from bot
$chatbot-message-container-color: $primary-white;
$chatbot-quickreply-container-color:  $primary-white;
$chatbot-quickreply-border-color: $primary-color-a;
$chatbot-quickreply-font-color: $primary-color-a;
$chatbot-card-button-color:  none;
$chatbot-message-text-color: $text-color-d;
$chatbot-name-color: $primary-color-a;

// messages from user
$user-message-container-color: $primary-color-a;
$user-message-text-color: $text-color-c;

// typing dots
$typing-dot-color: $primary-color-a;
$typing-dot-background-color:none;

// submit button
$submit-icon-color: $primary-color-a;

// error message
$error-image-background: $error-red;
$error-background: $primary-grey;