@import '../../../style-variables.scss';

.welcome-message-wrapper {
  position: absolute;
  display: flex;
  right: 100px;
  bottom: 40px;
  width: 300px;
  height: 150px;
  background-color: $primary-color-b;
  border-radius: 5px;
  box-shadow: 2px 2px 7px grey;

  .close-button {
    cursor: pointer;
    margin: 5px;
    

    svg {
      &:hover {
        transform: scale(1.1);
        transition: .3s;
      }
      path {
        fill: $primary-color-a;
      }
    } 
  }
  .text-area {
    background-color: $primary-white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .welcome-message-wrapper {
    width: 250px;
    max-height: 250px;
    min-height: 200px;
}
}